<ion-content style="border-left: 7px solid #ff987b;">
  <div class="header">
    <h3>Happy to see you</h3>
    <h1>Create a<br>New account</h1>
  </div>
  <div class="form">
    <ion-input type="email" placeholder="Email"></ion-input>
    <ion-input placeholder="Username"></ion-input>
    <ion-input type="password" placeholder="Password"></ion-input>
  </div>
  <div class="button signup">
    Signup <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <div class="footer signup-footer">
    <h3 routerLink="/login">Already have an account? <span>Login</span></h3>
  </div>
</ion-content>

