<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Chat UTRM</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" required name="email" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" name="password" required [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" expand="block" (click)="signIn()">Iniciar sesión</ion-button>
                <a class="small-text" (click)="redirect('/forgot-password')">¿Olvidaste la contraseña?</a>
            </ion-col>
        </ion-row>
    </form>


</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/signup']">Registrarse</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>