<ion-header>
    <ion-toolbar>
        <ion-title>Contactos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="/src/assets/shapes.svg">
            </ion-avatar>
            <ion-label>
                <h2>Sana</h2>
                <h3>Amo el K-Pop</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="/src/assets/perfil/Lisa.png">
            </ion-avatar>
            <ion-label>
                <h2>Lisa</h2>
                <h3>No soy presumida, solo soy la mejor</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="/src/assets/perfil/Irene.png">
            </ion-avatar>
            <ion-label>
                <h2>Irene</h2>
                <h3>Holis</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="/src/assets/perfil/Jiso.png">
            </ion-avatar>
            <ion-label>
                <h2>Jiso</h2>
                <h3>Tengo una serie en Disney+</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="/src/assets/perfil/Jihyo.png">
            </ion-avatar>
            <ion-label>
                <h2>Jihyo</h2>
                <h3>Líder de Twice</h3>
            </ion-label>
        </ion-item>

    </ion-list>





</ion-content>