<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat room
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <div class="imessage">
      <div *ngFor="let msg of messageList" >
        <div *ngIf="msg.user_id !== myUserId else meText">
          <p class="from-them">
            {{msg.msg}}
          </p>
        </div>

        <ng-template #meText>
          <div class="imessage-left">
            <p class="from-me">
              {{msg.msg}}
            </p>
          </div>

        </ng-template>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <form>
    <div class="input-wrap">
      <textarea #messageInput class="textarea-style" placeholder="Enter your message!" name="chatMessage" [(ngModel)]="chatMessage" (keyup.enter)="sendMessage()"></textarea>
      <ion-button class="button-message" ion-button clear icon-only item-right (click)="sendMessage()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
</ion-footer>
